@import url('../../styles/App.css');
@import url('../../styles/darkmode.css');

.container {
  margin: 100px 0 50px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.container__buttons .container__buttons--wrapper {
  margin-top: 100px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.container__buttons .container__buttons--wrapper button {
  border: none;
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 0.2s ease;
  background-color: transparent;
  color: var(--text-light-theme);
  font-size: calc(28 / 16 * 1rem);
  display: flex;
}

.container__buttons .container__buttons--wrapper button .chat-icon {
  font-size: calc(30 / 16 * 1rem);
}
.container__buttons .container__buttons--wrapper button .like-icon {
  font-size: calc(26 / 16 * 1rem);
}

.container__buttons .container__buttons--wrapper button .blue-thumb {
  color: var(--blue);
}

.container__buttons .container__buttons--wrapper button .bookmark-icon {
  font-size: calc(26 / 16 * 1rem);
}

.container__buttons .container__buttons--wrapper button:last-child {
  width: 60px;
}

.container__buttons .container__buttons--wrapper button span {
  margin-top: 3px;
  margin-left: 10px;
  font-size: calc(20 / 16 * 1rem);
}

.container__buttons .container__buttons--wrapper button:hover {
  background-color: var(--border-light-mode);
}

.card {
  width: 700px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 30px;
}

.card .card-wrapper {
  position: relative;
}

.card .card-wrapper .card-wrapper-button {
  top: 10px;
  right: 10px;
  position: absolute;
}

.card .card-wrapper .card-wrapper-button button * {
  display: flex;
}

.card .card-wrapper .card-wrapper-button button {
  color: var(--black);
  padding: 10px 20px;
  font-size: calc(20 / 16 * 1rem);
  border: none;
  background: rgba(255, 255, 255, 0.801);
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.card .card-wrapper button:hover {
  background: rgba(255, 255, 255, 0.908);
}

.card .card-wrapper .card__cover {
  border-radius: 4px;
  width: 100%;
}

.card .card__title {
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  font-size: calc(36 / 16 * 1rem);
}

.card .card__subtitle {
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  color: var(--light-grey-text-light-mode);

  font-size: calc(28 / 16 * 1rem);
}

.card .card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.card .card__wrapper img {
  border-radius: 50%;
  width: 50px;
}

.card .card__wrapper .card__wrapper--author {
  display: flex;
  align-items: center;
}

.card .card__wrapper .card__wrapper--author a {
  padding: 0 30px 0 10px;
  text-decoration: underline;
  background-color: transparent;
  position: relative;
  transition: 0s;
}
.card .card__wrapper .card__wrapper--author a:hover {
  color: var(--blue);
}

.card .card__wrapper a {
  font-weight: 500;
}

.card .card__wrapper p,
.card .card__wrapper .card__wrapper--author a {
  color: var(--text-light-theme);

  font-size: calc(18 / 16 * 1rem);
  margin: 0 3px;
}

.card .card__wrapper p {
  display: flex;
  align-items: center;
}

.card .card__wrapper p * {
  margin-right: 5px;
}

/* MARKDOWN */
.card__text {
  padding: 10px;
  line-height: 1.5;
  font-size: calc(18 / 16 * 1rem);
}

.card__text h1 {
  font-size: calc(24 / 16 * 1rem);
}

.card__text h2 {
  font-size: calc(22 / 16 * 1rem);
}

.card__text h3 {
  font-size: calc(18 / 16 * 1rem);
}

.card__text h4 {
  font-size: calc(16 / 16 * 1rem);
}

.card__text h5 {
  font-size: calc(14 / 16 * 1rem);
}

.card__text h6 {
  font-size: calc(12 / 16 * 1rem);
}

.card__text ul {
  padding-left: 40px;
  line-height: 1.5;
}

.SyntaxHighlighter {
  margin: 10px 0;
  line-height: 1.5;
  font-size: calc(16 / 16 * 1rem);
  border-radius: 8px;
}
