@import url('../../styles/App.css');
@import url('../../styles/darkmode.css');

.container {
  margin: 100px 0 50px 0;

  position: relative;
}

.card {
  width: 700px;
  margin-bottom: 20px;
  margin: auto;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 30px;
}

.card__cover {
  border-radius: 4px;
  width: 100%;
}

.card .card__title {
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  font-size: calc(36 / 16 * 1rem);
}

.card .card__subtitle {
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  color: var(--light-grey-text-light-mode);

  font-size: calc(28 / 16 * 1rem);
}

.card .card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.card .card__wrapper img {
  border-radius: 50%;
  width: 50px;
}

.card .card__wrapper .card__wrapper--author {
  display: flex;
  align-items: center;
}

.card .card__wrapper .card__wrapper--author a {
  padding: 0 30px 0 10px;
  text-decoration: underline;
  background-color: transparent;
  position: relative;
  transition: 0s;
}
.card .card__wrapper .card__wrapper--author a:hover {
  color: var(--blue);
}

.card .card__wrapper a {
  font-weight: 500;
}

.card .card__wrapper p,
.card .card__wrapper .card__wrapper--author a {
  color: var(--text-light-theme);

  font-size: calc(18 / 16 * 1rem);
  margin: 0 3px;
}

.card .card__wrapper p {
  display: flex;
  align-items: center;
}

.card .card__wrapper p * {
  margin-right: 5px;
}

/* MARKDOWN */
.card__text {
  padding: 10px;
  line-height: 1.5;
  font-size: calc(18 / 16 * 1rem);
}

.card__text h1 {
  font-size: calc(24 / 16 * 1rem);
}

.card__text h2 {
  font-size: calc(22 / 16 * 1rem);
}

.card__text h3 {
  font-size: calc(18 / 16 * 1rem);
}

.card__text h4 {
  font-size: calc(16 / 16 * 1rem);
}

.card__text h5 {
  font-size: calc(14 / 16 * 1rem);
}

.card__text h6 {
  font-size: calc(12 / 16 * 1rem);
}

.card__text ul {
  padding-left: 40px;
  line-height: 1.5;
}

.SyntaxHighlighter {
  margin: 10px 0;
  line-height: 1.5;
  font-size: calc(16 / 16 * 1rem);
  border-radius: 8px;
}
