@import url('../../../../styles/App.css');
@import url('../../../../styles/darkmode.css');

.article-skeleton {
  width: 600px;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 30px;
  margin-bottom: 20px;
}
