@import url('../../../styles/App.css');
@import url('../../../styles/darkmode.css');

/* Content */

.article {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 30px;
  margin-bottom: 20px;
}

.article .article__delete {
  border-radius: 4px;
  display: flex;
  font-size: calc(22 / 16 * 1rem);
  padding: 9px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  top: 40px;
  right: 40px;
  transition: all 0.3s ease;
}

.article .article__edit {
  border-radius: 4px;
  display: flex;
  font-size: calc(22 / 16 * 1rem);
  padding: 9px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  top: 40px;
  right: 110px;
  transition: all 0.3s ease;
}

.article .article__delete:hover,
.article .article__edit:hover {
  background-color: var(--white);
}

.article .article__cover {
  width: 100%;
  height: 250px;
  margin: 0 auto 30px auto;
  border-radius: 8px;
  position: relative;
  background: no-repeat center center/cover;
}

.article .article__cover:hover {
  opacity: 0.8;
}

.article .article__container .container__info a:hover {
  text-decoration: underline;
}

.article .article__container .container__info a:first-child {
  color: var(--black);
  font-size: calc(32 / 16 * 1rem);
  font-weight: 700;
  margin-bottom: 20px;
}

.article .article__container .container__info a {
  display: inline-block;
  word-wrap: break-word;
  color: var(--text-light-theme);
  font-size: 1rem;
}

.article .article__container .container__info {
  cursor: pointer;
}

/* Profile, Name, Minute, buttons */

.article .article-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.article .article-wrapper .article-wrapper__div .article-wrapper__div--info {
  display: flex;
  align-items: center;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  img {
  width: 50px;
  border-radius: 50%;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap {
  margin-left: 15px;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  a:hover {
  text-decoration: underline;
  color: var(--blue);
}
.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
  color: var(--text-light-theme);
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p
  .icon {
  color: var(--blue);
  margin-right: 5px;
  font-size: 1.1rem;
}

/* BUTTONS */

.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.buttons .button__like {
  display: flex;
  align-items: center;
}

.buttons .button__like span {
  margin-bottom: -3px;
  margin-left: 5px;
  font-size: 1rem;
}

.buttons .button__like .blue__thumb {
  color: var(--blue);
}

.buttons a {
  border: none;
  margin: 0 5px;
  padding: 4px 10px;
  border-radius: 20px;
  transition: all 0.2s ease;
  background-color: transparent;
  color: var(--text-light-theme);
  font-size: calc(20 / 16 * 1rem);
}

.buttons a * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons a:hover {
  background-color: var(--border-light-mode);
}

.buttons .bookmark {
  font-size: calc(23 / 16 * 1rem);
}
