@import url('./App.css');

:root {
  /* General */
  --white: #fff;
  --blue: #3466f6;
  /* Dark */
  --border-dark-mode: #1d283c;
  --card-dark-theme: #111827;
  --badge-dark-mode: #1f2937;
  --text-dark-theme: #9ca3af;
  --light-grey-text-dark-mode: #d1d5db;
  --body-dark-theme: #000000;
}

body.dark ::-webkit-scrollbar {
  width: 6px;

  margin-right: 30px;
  background-color: #283043;
}
body.dark ::-webkit-scrollbar-track {
  background-color: transparent;
}
body.dark ::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 16px;
  background-color: var(--blue);
}
body::-webkit-scrollbar-button {
  display: none;
}

/* HEADER */
body.dark .header {
  background-color: var(--card-dark-theme);
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark .header .header__logo {
  color: var(--white);
}

.aside .aside__write--button {
  color: var(--white);
  background-color: var(--blue);
}

/* THEME BUTTON */
body.dark .theme__button {
  color: var(--text-dark-theme);
}

/*auth-menu */
body.dark .menu .menu__wrapper {
  background-color: var(--card-dark-theme);
  border: 1px solid var(--border-dark-mode);
}

body.dark .menu .menu__wrapper .menu__wrapper--info {
  color: var(--white);
}

body.dark .menu .menu__wrapper .menu__wrapper--text {
  color: var(--light-grey-text-dark-mode);
}

/* auth-menu */
body.dark .auth-menu {
  background-color: var(--card-dark-theme);
  border: 1px solid var(--border-dark-mode);
}

body.dark .auth-menu .auth-menu__wrapper {
  display: flex;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark
  .auth-menu
  .auth-menu__wrapper
  .auth-menu__wrapper--info
  p:first-child {
  color: var(--white);
}

body.dark
  .auth-menu
  .auth-menu__wrapper
  .auth-menu__wrapper--info
  p:last-child {
  font-size: calc(14 / 16 * 1rem);
  color: var(--text-dark-theme);
}

body.dark .auth-menu button,
body.dark .auth-menu a {
  color: var(--white);
}

body.dark .auth-menu button:last-child {
  border-top: 1px solid var(--border-dark-mode);
  color: #ef5350;
}

body.dark .auth-menu button:hover,
body.dark .auth-menu a:hover {
  background-color: var(--badge-dark-mode);
}

/* SIGN UP / SIGN IN FORM */
body.dark .form {
  background-color: var(--card-dark-theme);
  border: 1px solid var(--border-dark-mode);
}

body.dark .form h2 {
  color: var(--white);
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark .form__wrapper input,
body.dark .form__wrapper textarea {
  color: var(--white);
  background-color: var(--badge-dark-mode);
  border: 1px solid var(--border-dark-mode);
}

body.dark .form__wrapper label {
  color: var(--white);
}

body.dark .form .form__wrapper .form__wrapper--wrap button {
  color: var(--text-dark-theme);
}

body.light .alert.danger {
  color: #f44336;
}

body.dark .alert.danger {
  color: #ef5350;
}

body.light .alert.success {
  color: #42aa66;
}

body.dark .alert.success {
  color: #41bf6d;
}

/* NON auth-menu MODAL */
body.dark .info-modal .info-modal--close {
  color: var(--white);
}

body.dark .info-modal {
  background-color: var(--card-dark-theme);
  border: 1px solid var(--border-dark-mode);
}

body.dark .info-modal .info-modal--title {
  color: var(--white);
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark .info-modal .info-modal--text {
  color: var(--white);
}

/* ARTICLES */
body.dark .modal__delete {
  border: 1px solid var(--border-dark-mode);
  background-color: var(--card-dark-theme);
}

body.dark .modal .modal__delete--text {
  color: var(--white);
}

body.dark .modal .modal__delete--title {
  color: var(--white);
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark .article {
  border: 1px solid var(--border-dark-mode);
  background-color: var(--card-dark-theme);
}

body.dark .article .article__container .container__info h1 {
  color: var(--white);
}

body.dark .article .article__container .container__info p {
  color: var(--text-dark-theme);
}

body.dark
  .article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:first-child {
  color: var(--white);
}
body.dark
  .article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:last-child {
  color: var(--text-dark-theme);
}

body.dark .buttons button {
  color: var(--light-grey-text-dark-mode);
}

body.dark .buttons button:hover {
  background-color: var(--border-dark-mode);
}

/* SIDEBAR */
body.dark .sidebar {
  background-color: var(--card-dark-theme);
  border: 1px solid var(--border-dark-mode);
}

body.dark .sidebar .line {
  padding: 1px 10px;
  border-top: 1px solid var(--border-dark-mode);
}

body.dark .sidebar button {
  color: var(--white);
}

body.dark .sidebar button:hover {
  background-color: var(--border-dark-mode);
}

body.dark .sidebar footer p,
body.dark .sidebar footer a {
  color: var(--light-grey-text-dark-mode);
}

body.dark .sidebar footer a:hover {
  color: #527dff;
}

/* ARTICLE SKELETON */
body.dark .article-skeleton {
  border: 1px solid var(--border-dark-mode);
  background-color: var(--card-dark-theme);
}

/* WRITE */

body.dark .write {
  border: 1px solid var(--border-dark-mode);
  background-color: var(--card-dark-theme);
}

body.dark .write .write__header .write__header--button {
  color: var(--light-grey-text-dark-mode);
  border: 1px solid var(--border-dark-mode);
}

body.dark .line {
  border-top: 1px solid var(--border-dark-mode);
}

body.dark .write .write__header .write__header--wrapper span,
body.dark .write .write__header .write__header--wrapper input {
  color: var(--light-grey-text-dark-mode);
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark .write .write__header .write__header--wrapper input::placeholder {
  color: var(--light-grey-text-dark-mode);
}

body.dark .write .write__header .write__header--button:hover {
  background-color: var(--border-dark-mode);
}

body.dark .write .write__container textarea,
body.dark .write .write__wrapper textarea,
body.dark .write__container--empty,
body.dark .write .write__container .write__container--preview {
  color: var(--white);
  background-color: var(--card-dark-theme);
}

body.dark .write .write__container .write__container--preview * a {
  text-decoration: underline;
}

body.dark .write .write__container .write__container--preview * a {
  color: #507cff;
  text-decoration: underline;
}

body.dark .write .write__container .write__container--preview * a:hover {
  color: #7698ff;
}
