@import url('../../../styles/App.css');
@import url('../../../styles/darkmode.css');
.authenticated {
  top: 60px;
  right: 10px;
  width: 300px;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--border-light-mode);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.authenticated .authenticated__wrapper {
  display: flex;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-light-mode);
}

.authenticated .authenticated__wrapper img {
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.authenticated
  .authenticated__wrapper
  .authenticated__wrapper--info
  p:first-child {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--black);
}

.authenticated
  .authenticated__wrapper
  .authenticated__wrapper--info
  p:last-child {
  font-size: calc(14 / 16 * 1rem);
  color: var(--text-light-theme);
}

.authenticated button,
.authenticated a {
  border: none;
  display: flex;
  padding: 30px;
  font-weight: 600;
  text-align: left;
  align-items: center;
  color: var(--black);
  transition: all 0.2s ease;
  background-color: transparent;
  font-size: calc(17 / 16 * 1rem);
}

.authenticated button:last-child {
  color: #f44336;
  border-top: 1px solid var(--border-light-mode);
}

.authenticated button:hover,
.authenticated a:hover {
  background-color: rgb(240, 240, 240);
}

.authenticated button .icon,
.authenticated a .icon {
  margin-right: 10px;
  font-size: calc(26 / 16 * 1rem);
}
