.authenticated {
  top: 56px;
  right: 10px;
  width: 300px;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--border-light-mode);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.authenticated .authenticated__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid var(--border-light-mode);
}

.authenticated .authenticated__wrapper img {
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.authenticated
  .authenticated__wrapper
  .authenticated__wrapper--info
  p:first-child {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--black);
}

.authenticated
  .authenticated__wrapper
  .authenticated__wrapper--info
  p:last-child {
  font-size: calc(14 / 16 * 1rem);
  color: var(--text-light-theme);
}

.authenticated button {
  display: flex;
  align-items: center;

  text-align: left;
  padding: 30px;
  font-size: calc(17 / 16 * 1rem);
  font-weight: 600;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;
}

.authenticated button:last-child {
  border-top: 1px solid var(--border-light-mode);
  color: #f44336;
}

.authenticated button:hover {
  background-color: rgb(240, 240, 240);
}

.authenticated button .icon {
  margin-right: 10px;
  font-size: calc(26 / 16 * 1rem);
}

/* DARK MODE */
body.dark .authenticated {
  background-color: var(--badge-dark-mode);
  border: 1px solid #2c3645;
}

body.dark .authenticated .authenticated__wrapper {
  border: 1px solid #2c3645;
}

body.dark
  .authenticated
  .authenticated__wrapper
  .authenticated__wrapper--info
  p:last-child {
  color: var(--light-grey-text-dark-mode);
}

body.dark .authenticated button,
body.dark .authenticated .authenticated__wrapper .authenticated__wrapper--info {
  color: var(--white);
}

body.dark .authenticated button:last-child {
  color: #ef5350;
  border-top: 1px solid #2c3645;
}

.authenticated button:hover {
  background-color: rgb(240, 240, 240);
}

body.dark .authenticated button:hover {
  background-color: #273446;
}
