@import url('../../styles/darkmode.css');
@import url('../../styles/App.css');

.user-container {
  display: flex;
  margin: 100px 0 50px 0;
  flex-direction: column;
}

.user {
  width: 800px;
  margin: 0 auto;
  position: relative;
  border-radius: 8px;
  background-color: var(--white);
  border: 1px solid var(--border-light-mode);
  margin-bottom: 20px;
}

.user button {
  top: 30px;
  right: 60px;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 16px;
  position: absolute;
  border-radius: 30px;
  align-items: center;
  color: var(--white);
  transition: all 0.2s ease;
  background-color: var(--blue);
}

.user button:hover {
  background-color: #507cff;
}

.user button .pen {
  font-size: 1rem;
  margin: 0 10px 0 0px;
}

.user .user__wrapper {
  padding: 30px;
  display: flex;
  align-items: center;
}

.user .user__wrapper .user__wrapper--primary img {
  width: 100px;
  border-radius: 50%;
}

.user .user__wrapper .user__wrapper--primary p {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  font-size: calc(14 / 16 * 1rem);
  color: var(--light-grey-text-light-mode);
}

.user .user__wrapper .user__wrapper--secondary {
  margin-left: 30px;
}

.user .user__wrapper .user__wrapper--secondary p:first-child {
  font-weight: 700;
  margin-top: -20px;
  color: var(--black);
  font-size: calc(20 / 16 * 1rem);
}

.user .user__wrapper .user__wrapper--secondary p:nth-child(2) {
  display: inline;
  padding: 4px 8px;
  font-weight: 600;
  line-height: 3.5;
  border: #e0e2e4;
  border-radius: 3px;
  background-color: #f0f0f0;
  font-size: calc(14 / 16 * 1rem);
}

.user .user__wrapper .user__wrapper--secondary p:last-child {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light-theme);
}

/* Articles */

.user-container .user__articles {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-container .user__article {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 400px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  position: relative;
}
.user__article .user__articles--edit {
  border-radius: 4px;
  display: flex;
  top: 10px;
  right: 60px;
  font-size: calc(20 / 16 * 1rem);
  padding: 5px 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  transition: all 0.3s ease;
}

.user__article .user__articles--delete {
  border-radius: 4px;
  display: flex;
  top: 10px;
  right: 10px;
  font-size: calc(20 / 16 * 1rem);
  padding: 5px 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  transition: all 0.3s ease;
}
.user-container .user__articles .user__article .user__article--image {
  width: auto;
  height: 180px;
  border-radius: 8px 8px 0 0;
  position: relative;
  background: no-repeat center center/cover;
}

.user-container .user__article a {
  padding: 10px;
  color: var(--black);
  line-height: 1.5;
  font-weight: 700;
  font-size: calc(18 / 16 * 1rem);
}
.user-container .user__article a:hover {
  text-decoration: underline;
}

.user-container .user__article .user__article--author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: auto;
}

.user-container .user__article .user__article--author p {
  color: var(--text-light-theme);
}

.user-container .user__article .user__article--author p {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
}

.user-container .user__article .user__article--author p:last-child .icon {
  margin-right: 5px;
}
