@import url('../../../styles/App.css');
@import url('../../../styles/darkmode.css');

#comment-container {
  margin: 15px auto;
  width: 700px;
}

#comment-container .comment-container__wrapper,
#comment-container .write-comment .comment-container__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 30px;
  margin-bottom: 15px;
}

#comment-container .comment-container__wrapper p {
  font-weight: 700;
  font-size: calc(20 / 16 * 1rem);
}

#comment-container .comment-container__wrapper button {
  font-weight: 700;
  font-size: calc(20 / 16 * 1rem);
  border: 1px solid var(--blue);
  padding: 12px 18px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: var(--blue);
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.3s ease;
}

#comment-container .comment-container__wrapper button:hover {
  background-color: #3464f61f;
}

/* AUTH COMMENT */

#comment-container .write-comment {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
}

#comment-container .write-comment .write-comment__author {
  border-bottom: 1px solid var(--border-light-mode);
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

#comment-container .write-comment .write-comment__author img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#comment-container .write-comment .write-comment__author span a {
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
}

#comment-container .write-comment .write-comment__author span a:hover {
  text-decoration: underline;
}

#comment-container .write-comment .write-comment__author span p {
  font-size: calc(14 / 16 * 1rem);
  font-weight: 500;
  color: var(--text-light-theme);
}

#comment-container .write-comment__field {
  border-bottom: 1px solid var(--border-light-mode);
}

#comment-container .write-comment__field textarea {
  outline: none;
  width: 100%;
  height: 200px;
  padding: 30px;
  font-size: calc(20 / 16 * 1rem);
  border: none;
  color: var(--text-light-theme);
}

#comment-container .write-comment__field textarea::placeholder {
  color: var(--text-light-theme);
}

#comment-container .write-comment__buttons {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#comment-container .write-comment__buttons button {
  width: 150px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 30px;
  padding: 12px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  border: none;
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
  transition: all 0.2s ease;
}

#comment-container .write-comment__buttons button:hover {
  background-color: #3464f61f;
}

/* COMMENTS */

.comments {
  margin: 15px auto;
  width: 700px;
}

.comments .comment {
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 20px 30px;
  margin-bottom: 15px;
}

.comments .comment .comment__author {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.comments .comment .comment__author img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comments .comment .comment__author span a {
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
}

.comments .comment .comment__author span a:hover {
  text-decoration: underline;
}

.comments .comment .comment__author span p {
  font-size: calc(14 / 16 * 1rem);
  font-weight: 500;
  color: var(--text-light-theme);
}

.comments .comment p {
  line-height: 1.8;
}
