@import url('../../styles/App.css');

.create-article {
  height: auto;
  margin: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
}

.create-article .create-article__buttons {
  margin: 50px auto 0 auto;
}

.create-article .create-article__buttons button {
  width: 150px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 30px;
  padding: 12px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  border: none;
  color: var(--white);
  border: 1px solid var(--blue);
  background-color: var(--blue);
  transition: all 0.2s ease;
}

.create-article .create-article__buttons button:hover {
  background-color: #507cff;
}

.create-article .create-article__buttons button:last-child {
  color: var(--blue);
  background-color: transparent;
}

.create-article .create-article__buttons button:last-child:hover {
  background-color: #3464f61f;
}

.write {
  width: 800px;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  margin: 0 auto;
}

.write .line {
  padding: 1px;
  border-top: 1px solid var(--border-light-mode);
}

.write .write__cover {
  width: 750px;
  height: 375px;
  margin: 0 auto 30px auto;
  border-radius: 8px;
  position: relative;
  background: no-repeat center center/cover;
}

.write .write__header .write__header--container .cover__file--btn {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.write .write__cover button {
  border-radius: 4px;
  display: flex;
  font-size: calc(22 / 16 * 1rem);
  padding: 9px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.631);
  color: var(--black);
  position: absolute;
  top: 20px;
  right: 25px;
  transition: all 0.3s ease;
}

.write .write__cover button:hover {
  background-color: var(--white);
}

.write .write__header {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
}

.write .write__header .write__header--button {
  display: flex;
  align-items: center;
  font-size: calc(15 / 16 * 1rem);
  font-weight: 500;
  border-radius: 30px;
  background-color: transparent;
  padding: 8px 12px;
  border: 1px solid var(--border-light-mode);
  color: var(--text-light-theme);

  transition: all 0.2s ease;
}

.write .write__header .write__header--button .icon {
  font-size: calc(22 / 16 * 1rem);
  margin-right: 8px;
}

.write .write__header .write__header--button:hover {
  background-color: var(--border-light-mode);
}

.write .write__header .write__header--wrapper {
  display: flex;
  align-items: baseline;
}

.write .write__header .write__header--wrapper label {
  opacity: 0;
  pointer-events: none;
}

.write .write__header .write__header--wrapper input {
  outline: none;
  text-align: center;
  color: var(--text-light-theme);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  width: 30px;
  border-bottom: 1px solid var(--border-light-mode);
  transition: all 0.2s ease;
}

.write .write__header .write__header--wrapper span {
  padding-left: 10px;
  border-bottom: 1px solid var(--border-light-mode);
  color: var(--text-light-theme);
}

.write .write__wrapper {
  display: flex;
  margin-top: -10px;
  flex-direction: column;
  padding: 0 30px;
}

.write .write__wrapper label,
.write .write__container label {
  opacity: 0;
  pointer-events: none;
}

.write .write__wrapper textarea {
  word-wrap: break-word;
  outline: none;
  font-weight: 700;
  border: none;
  height: 150px;
  font-size: calc(36 / 16 * 1rem);
  color: var(--black);
  background-color: var(--white);
}

.write .write__wrapper textarea::placeholder,
.write .write__container textarea::placeholder {
  color: #6b7280;
}

.write .write__container {
  display: flex;
  flex-direction: column;
}
.write .write__container textarea {
  border: none;
  outline: none;
  height: 250px;
  font-weight: 500;
  color: #6b7280;
  padding: 0 30px 15px 30px;
  word-wrap: break-word;
  background-color: var(--white);
  font-size: calc(16 / 16 * 1rem);
}

.write .write__container .write__container--preview {
  height: 300px;
  font-size: 1rem;
  color: #6b7280;
  font-weight: 500;
  padding: 15px 30px;
  overflow-y: scroll;
  word-wrap: break-word;
  background-color: var(--white);
}

.write .write__container .write__container--preview * a {
  color: var(--blue);
  text-decoration: underline;
}

.write .write__container .write__container--preview * a:hover {
  color: #7799ff;
  text-decoration: underline;
}

.write__container--empty {
  margin: auto;
  display: flex;
  height: 250px;
  font-size: 1rem;
  color: #6b7280;
  font-weight: 500;
  padding: 15px 30px;
  align-items: center;
  word-wrap: break-word;
  background-color: var(--white);
}

/* DARK MODE */

body.dark .write {
  border: 1px solid var(--border-dark-mode);
  background-color: var(--card-dark-theme);
}

body.dark .write .write__header .write__header--button {
  color: var(--light-grey-text-dark-mode);
  border: 1px solid var(--border-dark-mode);
}

body.dark .line {
  border-top: 1px solid var(--border-dark-mode);
}

body.dark .write .write__header .write__header--wrapper span,
body.dark .write .write__header .write__header--wrapper input {
  color: var(--light-grey-text-dark-mode);
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark .write .write__header .write__header--wrapper input::placeholder {
  color: var(--light-grey-text-dark-mode);
}

body.dark .write .write__header .write__header--button:hover {
  background-color: var(--border-dark-mode);
}

body.dark .write .write__container textarea,
body.dark .write .write__wrapper textarea,
body.dark .write__container--empty,
body.dark .write .write__container .write__container--preview {
  color: var(--white);
  background-color: var(--card-dark-theme);
}

body.dark .write .write__container .write__container--preview * a {
  text-decoration: underline;
}

body.dark .write .write__container .write__container--preview * a {
  color: #507cff;
  text-decoration: underline;
}

body.dark .write .write__container .write__container--preview * a:hover {
  color: #7698ff;
}
