@import url('../../../styles/App.css');

.non-authenticated .non-authenticated__wrapper {
  top: 60px;
  right: 10px;
  width: 300px;
  padding: 30px;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--border-light-mode);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.non-authenticated .non-authenticated__wrapper img {
  width: 100px;
  margin: 0 auto 20px auto;
}

.non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--info {
  margin-bottom: 20px;
  color: var(title-light-theme);
}

.non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--text {
  margin-bottom: 20px;
  color: var(--text-light-theme);
}

.non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--links {
  display: flex;
  justify-content: space-between;
}

.non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--links
  a {
  width: 110px;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
}

.non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--links
  a:first-child {
  color: var(--white);
  background-color: var(--blue);
}

.non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--links
  a:last-child {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
}

/* DARK MODE */

body.dark .non-authenticated .non-authenticated__wrapper {
  background-color: var(--badge-dark-mode);
  border: 1px solid #2c3645;
}

body.dark
  .non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--info {
  color: var(--white);
}

body.dark
  .non-authenticated
  .non-authenticated__wrapper
  .non-authenticated__wrapper--text {
  color: var(--light-grey-text-dark-mode);
}
