@import url('../../../styles/App.css');

/* Modal */
.overlay {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(65, 65, 65, 0.561);
}

.modal {
  text-align: center;
  padding: 30px 15px;
  width: 400px;
  border-radius: 8px;
  position: relative;
  z-index: 300;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
}

.modal h1 {
  color: var(--black);
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-light-mode);
}

.modal p {
  font-size: calc(20 / 16 * 1rem);
  padding: 15px 0 30px 0;
}

.modal button {
  margin: 0 10px;
  width: 120px;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  border: none;
  color: var(--black);
  border: 1px solid var(--blue);
  background-color: var(--blue);
  transition: all 0.2s ease;
}

.modal button:hover {
  background-color: #507cff;
}

.modal button:last-child {
  color: var(--blue);
  background-color: transparent;
}

.modal button:last-child:hover {
  background-color: #3464f61f;
}
/* Content */

.article {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 30px;
  margin-bottom: 20px;
}

.article .article__delete {
  border-radius: 4px;
  display: flex;
  font-size: calc(22 / 16 * 1rem);
  padding: 9px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  top: 40px;
  right: 40px;
  transition: all 0.3s ease;
}

.article .article__edit {
  border-radius: 4px;
  display: flex;
  font-size: calc(22 / 16 * 1rem);
  padding: 9px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  top: 40px;
  right: 110px;
  transition: all 0.3s ease;
}

.article .article__delete:hover,
.article .article__edit:hover {
  background-color: var(--white);
}

.article .article__cover {
  width: 100%;
  height: 250px;
  margin: 0 auto 30px auto;
  border-radius: 8px;
  position: relative;
  background: no-repeat center center/cover;
}

.article .article__container .container__info h1 {
  color: var(--black);
  font-size: calc(34 / 16 * 1rem);
  margin-bottom: 20px;
}

.article .article__container .container__info p {
  display: inline-block;
  word-wrap: break-word;
  color: var(--text-light-theme);
  font-size: 1rem;
}

/* Profile, Name, Minute, buttons */

.article .article-wrapper {
  display: flex;
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

.article .article-wrapper .article-wrapper__div .article-wrapper__div--info {
  display: flex;
  align-items: center;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  img {
  width: 50px;
  border-radius: 50%;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap {
  margin-left: 15px;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:first-child {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--black);
}
.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:last-child {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
  color: var(--text-light-theme);
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p
  .icon {
  color: var(--blue);
  margin-right: 5px;
  font-size: 1.1rem;
}

/* BUTTONS */

.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.buttons .buttons__wrapper,
.buttons .buttons__wrapper .buttons__wrapper--like {
  display: flex;
  align-items: center;
}

.buttons .buttons__wrapper .buttons__wrapper--like .blue__thumb {
  color: var(--blue);
}

.buttons .buttons__wrapper .buttons__wrapper--like span {
  margin-bottom: -3px;
  font-size: 1rem;
  padding-left: 10px;
}

.buttons button {
  border: none;
  margin: 0 3px;
  padding: 4px 10px;
  border-radius: 20px;
  transition: all 0.2s ease;
  background-color: transparent;
  color: var(--text-light-theme);
  font-size: calc(20 / 16 * 1rem);
}

.buttons button * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons button:hover {
  background-color: var(--border-light-mode);
}

.buttons .bookmark {
  font-size: calc(23 / 16 * 1rem);
}

/* DARK MODE */

body.dark .article,
body.dark .modal {
  border: 1px solid var(--border-dark-mode);
  background-color: var(--card-dark-theme);
}

body.dark .article .article__container .container__info h1 {
  color: var(--white);
}

body.dark .article .article__container .container__info p {
  color: var(--text-dark-theme);
}

body.dark .buttons button {
  color: var(--light-grey-text-dark-mode);
}

body.dark
  .article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:first-child,
body.dark {
  color: var(--white);
}
.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:last-child {
  color: var(--text-dark-theme);
}

body.dark .buttons button:hover {
  background-color: var(--border-dark-mode);
}

body.dark .modal h1 {
  color: var(--white);
  border-bottom: 1px solid var(--border-dark-mode);
}

body.dark .modal p {
  color: var(--white);
}
