@import url('../../../styles/App.css');
@import url('../../../styles/darkmode.css');

/* Delete Article Modal */
.overlay {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(65, 65, 65, 0.561);
}

.modal__delete {
  text-align: center;
  padding: 30px 15px;
  width: 450px;
  border-radius: 8px;
  position: relative;
  z-index: 300;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
}

.modal .modal__delete--title {
  color: var(--black);
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-light-mode);
}

.modal .modal__delete--text {
  color: var(--black);
  font-size: calc(20 / 16 * 1rem);
  padding: 15px 0 30px 0;
}

.modal .modal__delete--buttons button {
  margin: 0 10px;
  width: 120px;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  border: none;
  color: var(--white);
  border: 1px solid var(--blue);
  background-color: var(--blue);
  transition: all 0.2s ease;
}

.modal .modal__delete--buttons button:hover {
  background-color: #507cff;
}

.modal .modal__delete--buttons button:last-child {
  color: var(--blue);
  background-color: transparent;
}

.modal .modal__delete--buttons button:last-child:hover {
  background-color: #3464f61f;
}

/* Not-Authenticated Article Modal */
.modal__authenticatication {
  text-align: center;
  padding: 30px 15px;
  width: 500px;
  border-radius: 8px;
  position: relative;
  z-index: 300;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
}

.modal__authenticatication .modal__authenticatication--close {
  color: var(--black);
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

.modal__authenticatication .modal__authenticatication--title {
  margin-top: 10px;
  color: var(--black);
  padding-bottom: 15px;
  font-size: calc(24 / 16 * 1rem);
  border-bottom: 1px solid var(--border-light-mode);
}

.modal__authenticatication .modal__authenticatication--text {
  padding: 15px 0;
  color: var(--black);
  line-height: 1.5;
  font-size: calc(18 / 16 * 1rem);
  width: 350px;
  margin: 0 auto 15px auto;
}

.modal__authenticatication .modal__authenticatication--links a {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
  padding: 11px 35px;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  border: none;
  color: var(--white);
  border: 1px solid var(--blue);
  background-color: var(--blue);
  transition: all 0.2s ease;
}

.modal__authenticatication .modal__authenticatication--links a:hover {
  background-color: #507cff;
}

.modal__authenticatication .modal__authenticatication--links a:last-child {
  color: var(--blue);
  background-color: transparent;
}

.modal__authenticatication
  .modal__authenticatication--links
  a:last-child:hover {
  background-color: #3464f61f;
}

/* Content */

.article {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--border-light-mode);
  background-color: var(--white);
  padding: 30px;
  margin-bottom: 20px;
}

.article .article__delete {
  border-radius: 4px;
  display: flex;
  font-size: calc(22 / 16 * 1rem);
  padding: 9px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  top: 40px;
  right: 40px;
  transition: all 0.3s ease;
}

.article .article__edit {
  border-radius: 4px;
  display: flex;
  font-size: calc(22 / 16 * 1rem);
  padding: 9px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.738);
  color: var(--black);
  position: absolute;
  top: 40px;
  right: 110px;
  transition: all 0.3s ease;
}

.article .article__delete:hover,
.article .article__edit:hover {
  background-color: var(--white);
}

.article .article__cover {
  width: 100%;
  height: 250px;
  margin: 0 auto 30px auto;
  border-radius: 8px;
  position: relative;
  background: no-repeat center center/cover;
}

.article .article__container .container__info h1 {
  color: var(--black);
  font-size: calc(34 / 16 * 1rem);
  margin-bottom: 20px;
}

.article .article__container .container__info p {
  display: inline-block;
  word-wrap: break-word;
  color: var(--text-light-theme);
  font-size: 1rem;
}

/* Profile, Name, Minute, buttons */

.article .article-wrapper {
  display: flex;
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

.article .article-wrapper .article-wrapper__div .article-wrapper__div--info {
  display: flex;
  align-items: center;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  img {
  width: 50px;
  border-radius: 50%;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap {
  margin-left: 15px;
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:first-child {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--black);
}
.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p:last-child {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
  color: var(--text-light-theme);
}

.article
  .article-wrapper
  .article-wrapper__div
  .article-wrapper__div--info
  .article-wrapper__div--info--wrap
  p
  .icon {
  color: var(--blue);
  margin-right: 5px;
  font-size: 1.1rem;
}

/* BUTTONS */

.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.buttons .button__like {
  display: flex;
  align-items: center;
}

.buttons .button__like span {
  margin-bottom: -3px;
  margin-left: 5px;
  font-size: 1rem;
}

.buttons .button__like .blue__thumb {
  color: var(--blue);
}

.buttons button {
  border: none;
  margin: 0 3px;
  padding: 4px 10px;
  border-radius: 20px;
  transition: all 0.2s ease;
  background-color: transparent;
  color: var(--text-light-theme);
  font-size: calc(20 / 16 * 1rem);
}

.buttons button * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons button:hover {
  background-color: var(--border-light-mode);
}

.buttons .bookmark {
  font-size: calc(23 / 16 * 1rem);
}
